@model FrontEnd.Models.AddressModel

<h3>Address Info</h3>

<div class="row form-group">
	@Model.Address1

</div>

<div class="row form-group">
	@Model.Address2
</div>

<div class="row form-group">
	@Model.City
</div>
<div class="row form-group">

	@Model.State.StateName
</div>
<div class="row form-group">

	@Model.Zip - @Model.ZipExt
</div>




